PORT=8000
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.vpfb7f1.mongodb.net/backend
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=bank_ledger
DB_SSL=REQUIRED
